#section_three {
	padding:0 100px;
	position: relative;
}


.d_m_slide {
	position: fixed;
	top:50%;
	left:60px;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: all 200ms ease-in-out;
	span {
		display: block;
		color:$blue;
		font-size: 15px;
		@include poppins_extrabold;
		&:first-of-type {
			&:after {
				content:"";
				display: block;
				width:6px;
				height:2px;
				margin:36px auto;
				background: $gold;
			}
		}
	}
}

.d_m_slide.visible {
	opacity: 1;
}

.d_m_slide.visible.hide {
	opacity: 0;
}


.sec_three_inner {
	max-width:1370px;
	margin:0 auto;
	padding: 150px 0 124px;
	h1.sec_three_header {
		text-align: center;
		color:$blue;
		font-size: 120px;
		line-height: 115px;
		max-width:1020px;
		margin:0 auto;
		@include questa_medium;
	}
}



.sec_three_top {
	display: flex;
	margin:110px 0px 0 0;
}

.sec_three_video_wrapper {
	flex-basis:447px;
	flex-shrink:0;
	position: relative;
	margin-top:10px;
	&:before {
		content:"";
		display: block;
		width:100%;
		position: absolute;
		top:0;
		left:0;
		height:2px;
		background: $gold;
	}
	span.sec_three_video_title {
		color:$gold;
		text-transform: uppercase;
		display: block;
		font-size: 18px;
		text-align: right;
		margin-top:26px;
		letter-spacing: 0.15em;
		@include poppins_extrabold;
	}
	.video_overlay {
		position: relative;
		width:100%;
		margin-top:37px;
		display: flex;
		height:299px;
		justify-content: center;
		align-items: center;
		.play_button_wrapper {
			width:107px;
			height:107px;
			position: relative;
			z-index:1;
			top:0;
			left:0;
			pointer-events: none;
			&:before {
				width:73px;
				height:73px;
				top: 14px;
				left: 14px;
				box-shadow: 0px 0px 12px 4px rgba(95,168,245,0.4);
			}
			&:after {
				top: 41px;
				left: 46px;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 13px solid #fff;
			}
		}
		img.video_placeholder {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top:0;
			left:0;
			object-fit:cover;
			pointer-events: none;
		}
		.mywistia {
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
			
		}
	}
}

.sec_three_top_content {
	padding-left:65px;
	h2.intro {
		max-width:690px;
	}
}


.sec_three_blockquote_wrapper {
	width:100%;
	margin:60px 0 0;
}


.sec_three_bottom {
	column-count:2;
	column-gap:115px;
	margin:125px 0 0;
	h2, p, ul, ol, h3 {
		width:100%;
		display: inline-block;
	}
}



@media screen and (max-width: 1700px) {
	
	.d_m_slide {
		left: 40px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	


.sec_three_inner {
	padding: 176px 0 0px;
	max-width: 1120px;
}

.sec_three_top {
	margin: 132px 0px 0 0;
}
	
	.sec_three_top_content {
    padding-left: 77px;
	}
	
	
	.sec_three_video_wrapper {
		.video_overlay {
			margin-top: 30px;
		}
		span.sec_three_video_title {
			margin-top: 18px;
		}
	}


.sec_three_bottom {
	margin: 143px 0 0;
}
	
	   
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	#section_three {
		padding:0 87px 65px;
		padding-bottom:65px;
	}
	
	
	.d_m_slide {
		left: 35px;
	}	
	
	
	
	.sec_three_inner {
		padding: 86px 0 0px;
		max-width:600px;
		h1.sec_three_header {
			font-size: 75px;
			line-height: 75px;
			max-width: 780px;
		}
	}
	
	
	.sec_three_top {
		margin: 65px 0px 0 0;
		display: block;
	}
	
	.sec_three_video_wrapper {
		margin-bottom:50px;
		.video_overlay {
			height:420px;
		}
		span.sec_three_video_title {
			font-size: 16px;
			margin-top:0;
			padding-top:18px;
		}
	}
	
	.sec_three_top_content {
		padding-left:0;
	}
	
	
	.sec_three_blockquote_wrapper {
		margin: 90px auto 0;
		max-width: 560px;
	}
	
	.sec_three_bottom {
    margin: 103px 0 0;
    column-count:1;
	}	
	
} /* Media Query */


@media screen and (max-width: 800px) {
	
	
	.sec_three_video_wrapper {
		.video_overlay {
			height:345px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#section_three {
		padding:0 40px 85px;
	}
	
	
	.d_m_slide {
		display: none;
	}
	
	.sec_three_inner {
		padding: 68px 0 0px;
		h1.sec_three_header {
			font-size: 65px;
			line-height: 55px;
			text-align: left;
		}
	}
	
	
	.sec_three_video_wrapper {
		margin-top:0;
		margin-bottom: 66px;
		span.sec_three_video_title {
	   padding-top: 20px; 
    }
    .video_overlay {
	    margin-top: 23px;
    }
	}
	
	.sec_three_top {
    margin: 58px 0px 0 0;
    
   }
   
   
   .sec_three_blockquote_wrapper { 
	   margin: 80px auto 0;
   }
   
   .sec_three_bottom {
    margin: 87px 0 0;
   }
       
	
	
} /* Media Query */


@media screen and (max-width: 550px) {
	
	.sec_three_video_wrapper {
		
		span.sec_three_video_title {
	  
    }
    .video_overlay {
	    height: 295px;
    }
	}
	    
	
} /* Media Query */


@media screen and (max-width: 430px) {
	
	
	.sec_three_video_wrapper {
		
		span.sec_three_video_title {
	  
    }
    .video_overlay {
	    height: 225px;
    }
	}

	
	
} /* Media Query */
