#section_four {
	height:915px;
	width:100%;
	display: flex;
}

.dm_sec_four {
	left:auto;
	right:40px;
}

.dm_sec_four.visible {
	opacity: 1;
}

.dm_sec_four.visible.hide {
	opacity: 0;
}


.sec_four_left, .sec_four_right {
	flex-basis:50%;
	
}


.sec_four_left {
	background: $black;
	position: relative;
	padding:0 85px;
}

.sec_four_left_inner {
	max-width: 685px;
	margin:0 auto;
	padding:102px 0;
	.news_title_wrapper {
		display: flex;
		align-items: flex-end;
		svg {
			width:117px;
			height: 169px;
		}
		span.news_title {
			color:#fff;
			font-size: 90px;
			line-height: 90px;
			position: relative;
			top:12px;
			margin-left:30px;
			@include questa_medium_italic;
		}
	}
}


.news_feed {
	margin-top:92px;

}


.news_row {
	&:hover {
		a {
			.news_post {
				span.news_readmore {
					color:$gold;
				}
			}
		}
	}
	&:first-of-type {
		margin-bottom:127px;
	}
	a {
		display: flex;
		text-decoration: none;
		.news_logo {
			flex-basis:185px;
			flex-shrink: 0;
			border-right:2px solid $gold;
			img {
				width: 100%;
				max-width:140px;
				height:auto;
				display: block;
			}
		}
		.news_post {
			padding-left:32px;
			span {
				display: block;
			}
			span.news_date {
				text-transform: uppercase;
				color:$blue;
				font-size: 16px;
				margin-bottom:6px;
				letter-spacing: 0.25em;
				@include poppins_extrabold;
			}
			span.news_title {
				color:#fff;
				font-size: 23px;
				line-height: 35px;
				@include poppins_reg;
			}
			span.news_readmore {
				color:$blue;
				text-transform: uppercase;
				font-size: 14px;
				margin-top:28px;
				letter-spacing: 0.25em;
				text-decoration: underline;
				transition: all 200ms ease-in-out;
				@include poppins_extrabold;
			}
		}
	}
}



.sec_four_right {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
}


a.news_view_more {
	position: absolute;
	bottom:0;
	right:0;
	background:$blue;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size:14px;
	padding:32px 65px;
	letter-spacing: 0.3em;
	transition: all 200ms ease-in-out;
	@include poppins_extrabold;
	&:hover {
		background: $gold;
	}
}


img.sec_four_mobile {
	display: none;
}


@media screen and (max-width: 1530px) {
	
	
	#section_four {
		height: 926px;
	}
	
	.sec_four_left {
		flex-basis:705px;
		flex-shrink:0;
		
	}
	
	.sec_four_left_inner {
		padding: 90px 0 0px;
		.news_title_wrapper {
			span.news_title {
				font-size: 75px;
				top:4px;
			}
		}
	}
	
	
	.news_feed {
		margin-top: 87px;
	}
	
	.news_row {
		&:first-of-type {
			margin-bottom: 83px;
		}
	}
	
	.sec_four_right {
		flex-basis:auto;
		flex-grow:1;
		padding-left:45px;
		padding-right:45px;
	}
	
	img.sec_four_mobile {
		display: block;
	}
	
	img.sec_four_desktop {
		display: none;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	#section_four {
		display: block;
		height:auto;
	}

	.sec_four_right {
		display: none;
	}
	
	
	.dm_sec_four {
		display: none;
	}
	
	
	.sec_four_left {
		padding:90px 60px 95px;
	}
	
	
	.sec_four_left_inner {
		background: #0b0b1c;
		padding: 65px 70px 169px;
		box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 1);
		position: relative;
		.news_title_wrapper {
			//justify-content: center;
			span.news_title {
				font-size: 65px;
				top: 18px;
				margin-left: 18px;
			}
		}
	}
	
	

	.news_feed {
	   margin-top: 112px;
	}
	
	.news_row {
		&:first-of-type {
			margin-bottom: 105px;
		}
		a {
			.news_post {
				span.news_readmore {
					margin-top: 23px;
				}
			}
		}
	}
	
	a.news_view_more {
		//position: relative;
		display: block;
		width:100%;
		text-align: center;
	}
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	.sec_four_left {
		padding: 0px;
	}
	
	.sec_four_left_inner {
		box-shadow: none;
		max-width:100%;
		padding: 65px 33px 124px;
		.news_title_wrapper {
			display: block;
			svg, span.news_title {
				display: block;
			}
			span.news_title {
				margin-left:0;
				margin-top:6px;
				line-height: 60px;
			}
		}
	}
	
	
	.news_feed {
    margin-top: 87px;
    .slick-dots {
    	bottom: 15px;
    	text-align: left;
    	li.slick-active {
	    	&:before {
				opacity: 1;
			}
    		button {
    			&:before {
    				//color:#fff;
    			}
    		}
    	}
    	li:hover {
	    	&:before {
				opacity: 1;
			}
    		button {
    			&:before {
    				//color:#fff;
    			}
    		}
    	}
    	li {
				margin:0 4px;
				width:22px;
				height:22px;
				position: relative;
				cursor: pointer;
				&:before {
					content:"";
					width:22px;
					height:22px;
					display: block;
					border-radius: 50%;
					background: rgba(33px,130px,237px, 0.4);
					position: absolute;
					top:0;
					left:0;
					opacity: 0;
					transition: all 200ms ease-in-out;
				}
				button {
					width:16px;
					position: relative;
					top:1px;
					left:3px;
					&:before {
						width:16px;
						opacity: 1;
						color: $blue;
						font-size:30px;
					}
				}
			}
    }
	}
	
	
	.news_row {
		a {
			display: block;
			.news_logo {
				border:none;
			}
			.news_post {
				margin-top:27px;
			 	border-left: 2px solid #bf8929;
			 	max-width: 423px;
			 	span.news_date {
				 	margin-bottom: 9px;
			 	}
			 	span.news_readmore {
				 	margin-top: 21px;
			 	}
			}
		}
	}
	
	
	
} /* Media Query */
