footer {
	padding-top:1px;
}

.footer_form_wrapper {
	padding:0 108px;
}


.footer_form_inner {
	max-width:1404px;
	width:100%;
	background: #fff;
	margin:155px auto 0;
	padding:110px 0 105px;
	position: relative;
	z-index:1;
	span.required {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		margin-top:19px;
		letter-spacing: 0.4em;
		@include poppins_extrabold;
		span {
			color:$gold;
		}
	}
	.gform_wrapper {
		max-width:1158px;
		margin:0 auto;
	}
	ul {
		list-style: none;
		margin-top:48px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			margin-bottom:29px;
			flex-basis:32%;
			position: relative;
			&:after {
				content:"*";
				display: block;
				position: absolute;
				top:35px;
				right:20px;
				color:$gold;
				font-size: 14px;
				@include poppins_extrabold;
			}
			label {
				display: none;
			}
			input, textarea {
				width:100%;
				border:none;
				text-transform: uppercase;
				background:$grey;
				font-size: 16px;
				letter-spacing: 0.2em;
				padding:25px 35px 17px 20px;
				border-bottom:4px solid transparent;
				transition: border 200ms ease-in-out;
				@include poppins_extrabold;
				&:focus {
					border-bottom:4px solid $gold;
				}
			}
			textarea {
					height:200px;
				}
		}
		li#field_4_6 {
			flex-basis:100%;
		}
		.gfield_description, .validation_message {
			color: $gold;
			text-transform: uppercase;
			font-size: 12px;
			padding-top: 5px;
			padding-left: 20px;
			letter-spacing: 0.1em;
			@include poppins_bold;
		}
	}
	input[type="submit"] {
		background: $blue;
		border:none;
		color:#fff;
		text-transform: lowercase;
		font-size: 30px;
		padding:17px 45px;
		letter-spacing: 0.025em;
		border:2px solid $blue;
		margin:3px auto 0;
		display: block;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		@include questa_regular;
		&:hover {
			background: transparent;
			color:$blue;
		}
	}
}


span.footer_title {
	color:$blue;
	display: block;
	text-transform: lowercase;
	font-size: 95px;
	text-align: center;
	@include questa_medium;
}



.footer_location_wrapper {
	background: $black;
	margin-top: -140px;
	padding-bottom:105px;
}


.footer_location_inner {
	max-width: 1620px;
	margin:0 auto;
	display: flex;
	padding:260px 108px 0;
}

.footer_col {
	span, a {
		color:#fff;
	}
	a {
		text-decoration: none;
	}
}

.footer_col_one {
	a {
		img {
			width:262px;
			height:47px;
		}
	}
}


.footer_col_two {
	margin-top:-10px;
	padding-left:78px;
	span.address, a.footer_tel {
		display: block;
		font-size: 28px;
		line-height: 35px;
		letter-spacing: 0.025em;
		@include unna;
	}
	span.address {
		margin-bottom:33px;
	}
	a.footer_get_directions {
		background:$blue;
		display: inline-block;
		padding:20px 30px;
		text-transform: uppercase;
		font-size: 14px;
		margin-top:32px;
		letter-spacing: 0.3em;
		border: 1px solid $blue;
		transition: all 200ms ease-in-out;
		@include poppins_extrabold;
		&:hover {
			background: transparent;
			color:$blue;
		}
	}
}


.footer_col_three {
	flex-grow:1;
	display: flex;
	padding-right:25px;
	justify-content: flex-end;
	ul {
		list-style: none;
		li {
			padding-left:13px;
			position: relative;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 0.2em;
			margin-bottom:18px;
			@include poppins_bold;
			&:before {
				content:"";
				width:4px;
				height:4px;
				background: $gold;
				border-radius: 50%;
				display: block;
				position: absolute;
				top:5px;
				left:0;
			}
			a {
				transition: all 200ms ease-in-out;
				&:hover {
					color:$gold;
					text-decoration: underline;
				}
			}
		}
	}
}

.copyright_wrapper {
	span.copyright {
		text-transform: uppercase;
		font-size:13px;
		display: block;
		padding-top:40px;
		letter-spacing: 0.2em;
		@include poppins_bold;	
	}
	a.ilawyer {
		margin-top:16px;
		display: inline-block;
	}
}
    

