footer {
	padding-top:1px;
}

.footer_form_wrapper {
	padding:0 108px;
}


.footer_form_inner {
	max-width:1404px;
	width:100%;
	background: #fff;
	margin:155px auto 0;
	padding:110px 90px 105px;
	position: relative;
	z-index:1;
	span.required {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		margin-top:19px;
		letter-spacing: 0.4em;
		@include poppins_extrabold;
		span {
			color:$gold;
		}
	}
	.gform_wrapper {
		max-width:1158px;
		margin:0 auto;
	}
	ul {
		list-style: none;
		margin-top:48px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			margin-bottom:29px;
			flex-basis: 32.4%;
			position: relative;
			&:after {
				content:"*";
				display: block;
				position: absolute;
				top:35px;
				right:20px;
				color:$gold;
				font-size: 14px;
				@include poppins_extrabold;
			}
			label {
				display: none;
			}
			input, textarea {
				width:100%;
				border:none;
				text-transform: uppercase;
				background:$grey;
				font-size: 16px;
				letter-spacing: 0.2em;
				padding: 24px 35px 18px 20px;
				border-bottom:4px solid transparent;
				transition: border 200ms ease-in-out;
				@include poppins_extrabold;
				&:focus {
					border-bottom:4px solid $gold;
				}
			}
			textarea {
					height:200px;
				}
		}
		li#field_4_6 {
			flex-basis:100%;
		}
		.gfield_description, .validation_message {
			color: $gold;
			text-transform: uppercase;
			font-size: 12px;
			padding-top: 5px;
			padding-left: 20px;
			letter-spacing: 0.1em;
			@include poppins_bold;
		}
	}
	input[type="submit"] {
		background: $blue;
		border:none;
		color:#fff;
		text-transform: lowercase;
		font-size: 30px;
		padding:17px 45px;
		letter-spacing: 0.025em;
		border:2px solid $blue;
		margin:3px auto 0;
		display: block;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		@include questa_regular;
		&:hover {
			background: transparent;
			color:$blue;
		}
	}
}


span.footer_title {
	color:$blue;
	display: block;
	text-transform: lowercase;
	font-size: 95px;
	text-align: center;
	@include questa_medium;
}



.footer_location_wrapper {
	background: $black;
	margin-top: -140px;
	padding-bottom:105px;
}


.footer_location_inner {
	max-width: 1620px;
	margin:0 auto;
	display: flex;
	padding:260px 108px 0;
}

.footer_col {
	span, a {
		color:#fff;
	}
	a {
		text-decoration: none;
	}
}

.footer_col_one {
	a {
		img {
			width:262px;
			height:47px;
		}
	}
}


.footer_col_two {
	margin-top:-10px;
	padding-left:78px;
	padding-right:78px;
	span.address, a.footer_tel {
		display: block;
		font-size: 28px;
		line-height: 35px;
		letter-spacing: 0.025em;
		@include unna;
	}
	span.address {
		margin-bottom:33px;
		max-width:345px;
	}
	a.footer_get_directions {
		background:$blue;
		display: inline-block;
		padding:20px 30px;
		text-transform: uppercase;
		font-size: 14px;
		margin-top:32px;
		letter-spacing: 0.3em;
		border: 1px solid $blue;
		transition: all 200ms ease-in-out;
		@include poppins_extrabold;
		&:hover {
			background: transparent;
			color:$blue;
		}
	}
}


.footer_col_three {
	flex-grow:1;
	display: flex;
	padding-right:25px;
	justify-content: flex-end;
	ul {
		list-style: none;
		li {
			padding-left:13px;
			position: relative;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 0.2em;
			margin-bottom:16px;
			@include poppins_bold;
			&:before {
				content:"";
				width:4px;
				height:4px;
				background: $gold;
				border-radius: 50%;
				display: block;
				position: absolute;
				top:5px;
				left:0;
			}
			a {
				transition: all 200ms ease-in-out;
				&:hover {
					color:$gold;
					text-decoration: underline;
				}
			}
		}
	}
}

.copyright_wrapper {
	span.copyright {
		text-transform: uppercase;
		font-size:13px;
		line-height: 20px;
		display: block;
		padding-top: 44px;
		letter-spacing: 0.2em;
		@include poppins_bold;	
	}
	a.ilawyer {
		margin-top:14px;
		display: inline-block;
	}
}
   
   
   
@media screen and (max-width: 1450px) {
	
	
	
	.footer_form_inner {
		margin: 111px auto 0;
		padding: 110px 90px 82px;
		.gform_wrapper {
			max-width: 960px;
		}
	}
	
	span.footer_title {
		font-size: 75px;
	}
	
	
	.footer_location_wrapper {
		margin-top: -100px;
	}
	
	.footer_col_two {
		flex-shrink:0;
		padding-right: 140px;
	}
	
	.footer_col_three {
		//padding-left:45px;
	}
	   
	    
	
} /* Media Query */


@media screen and (max-width: 1395px) {
	
	
	.footer_col_two {
		padding-left:40px;
		padding-right:40px;
	}
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	.footer_form_inner {
    margin: 96px auto 0;
    padding: 75px 90px 77px;
    ul {
	    display: block;
	    margin-top: 42px;
	    li {
		    margin-bottom: 22px;
		    &:after {
			    top: 29px;
		    }
		    input,textarea {
			    padding: 23px 35px 18px 20px;
		    }
	    }
    }
	}
	
	
	span.footer_title {
		font-size: 65px;
	}
	

	
	.footer_location_wrapper{
		padding-bottom:65px;
		margin-top: -115px;
	}
	
	
	.footer_location_inner {
		display: block;
		max-width: 336px;
		margin:0 auto;
		padding: 222px 0px 0px;
	}
	
	
	.footer_col_one {
		a {
			img {
				width:336px;
				height: 61px;
			}
		}
	}
	
	.footer_col_two {
		padding: 57px 0 0;
		margin:0;
	}
	
	.footer_col_three {
		padding-top:105px;
		padding-right:0;
		ul {
			li {
				margin-bottom: 16px;
			}
		}
	}
	
	
	.copyright_wrapper {
		span.copyright {
			padding-top: 49px;
		}
	}
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.footer_form_wrapper {
    padding: 0 59px;
	}
	
	.footer_form_inner {
		padding: 75px 80px 77px;
		.gform_wrapper {
			//max-width: 474px;
		}
	}
	
	    

	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.footer_form_wrapper {
		padding-left:40px;
		padding-right:40px;
		
	}
	
	.footer_form_inner {
    margin: 54px auto 0;
    padding: 42px 36px 61px;
    span.required {
	    font-size: 12px;
	    margin-top: 26px;
    }
    ul {
	    li {
		    margin-bottom: 18px;
		    input,textarea {
			    padding: 21px 35px 16px 20px;
		    }
		    textarea {
			   padding: 21px 27px 16px 20px;
		    }
	    }
    }
    input[type="submit"] {
	    width:100%;
    }
  }
	
	
	span.footer_title {
		font-size: 50px;
		line-height: 50px;
	}
	
	.footer_location_wrapper {
		margin-top: -90px;
		padding-bottom: 50px;
	}
	
	
	.footer_location_inner {
		padding: 178px 40px 0px;
		max-width: 343px;
	}
	
	
	.footer_col_one {
		a {
			img {
				width:100%;
				height:auto;
			}
		}
	}
	
	
	.footer_col_two {
		padding: 42px 0 0;
		span.address, a.footer_tel {
			font-size: 22px;
			line-height: 32px;
		}
	}
	
	
	.footer_col_three {
    padding-top: 85px;
	}
	
	
	.copyright_wrapper {
		span.copyright {
    		padding-top: 54px;
		}
		a.ilawyer {
			margin-top: 60px;
			img {
				max-width:100%;
				height:auto;
			}
		}
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 413px) {
	
	
	span.footer_title {
		font-size: 42px;
		line-height: 42px;
	}

	
	
} /* Media Query */
