header {
	height:97px;
	width:100%;
	background: #fff;
	display: flex;
	position: relative;
	z-index: 5;
}


body:not(.page-template-template-home) {
	header {
		box-shadow: 2.12px 3.392px 25.92px 1.08px rgba(0, 0, 0, 0.19);
	}
}


.header_left {
	padding-left:32px;
	flex-basis: 287px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

a.logo {
	display: block;
	img {
		display: block;
		width:255px;
		height:46px;
	}
}


.header_middle {
	flex-grow:1;
	display: flex;
	justify-content: flex-end;
	padding-right:60px;
}



nav.desktop {
	margin-top:58px;
	ul {
		list-style: none;
		margin:0;
		li {
			a {
				text-decoration: none;
				color:$black;
				cursor: pointer;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$blue;
				}
			}
		}
	}
	ul.menu {
		display: flex;
		> li.current_page_item, li.current-menu-ancestor  {
			 > a {
				 color:$blue;
			 }
		}
		>li.menu-item-has-children {
			position: relative;
			&:hover {
				> a {
						color:$blue;
					}
					ul.sub-menu {
						opacity: 1;
						visibility: visible;
					}
			}
			> a {
				&:after {
					content:"";
					display: inline-block;
					vertical-align: top;
					width: 0; 
					height: 0; 
					margin:5px 0 0 8px;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 7px solid $blue;
				}
			}
		}
		> li {
				font-size: 17px;
				margin-left: 60px;
				text-transform: lowercase;
				letter-spacing: 0.05em;
				padding-bottom:20px;
				@include poppins_bold;
		}
	}
	ul.sub-menu {
		position: absolute;
		top:37px;
		left:0;
		background: #fff;
		padding:35px 32px;
		width:268px;
		box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.18);
		opacity: 0;
		visibility: hidden;
		transition: all 250ms ease-in-out;
		li.current-menu-item {
			a {
				color:$blue;
			}
		}
		li {
			line-height: 25px;
			margin-bottom:22px;
			&:last-of-type {
				margin-bottom: 0;
			}
			@include poppins_medium;
		}
	}
}


.laptop_form {
	display: none;
}


.header_right {
	padding-top:25px;
	flex-basis:270px;
	flex-shrink: 0;
	text-align: right;
	padding-right:47px;
	span, a {
		display: block;
	}
	span.free_consultation {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.15em;
		color:$gold;
		@include poppins_extrabold;
	}
	a.tel {
		text-decoration: none;
		font-size: 35px;
		color:$black;
		margin-top:6px;
		@include unna;
	}
}


.menu_wrapper {
	display: none;
}



@media screen and (min-width: 1510px) {
	
	
	
	nav.tablet, nav.laptop {
		display: none;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1510px) {
	
	
	
	header {
		justify-content: space-between;
		height: 90px;
		position: fixed;
		top:0;
		left:0;
		transition: all 200ms ease-in-out;
		box-shadow: 2.12px 3.392px 25.92px 1.08px rgba(0, 0, 0, 0);
	}
	
	
	body.page-template-template-home {
		header.visible {
			box-shadow: 2.12px 3.392px 25.92px 1.08px rgba(0, 0, 0, 0.19);
		}
	}
	
	
	.header_middle {
		position: fixed;
		top: 90px;
		left:0;
		width:100%;
		height: 100%;
		padding:0;
		opacity: 0;
		visibility: hidden;
	}
	
	nav.laptop {
		display: flex;
		width:100%;
		height:100vh;
		.nav_inner {
			ul {
				list-style: none;
				margin:0;
				li {
					text-transform: lowercase;
					margin-bottom:40px;
					font-size:20px;
					letter-spacing: 0.05em;
					a {
						color:#fff;
						text-decoration: none;
						transition: all 200ms ease-in-out;
						cursor: pointer;
						&:hover {
							color:$blue;
						}
					}
				}
			}
			ul.menu {
				> li.current-menu-item, > li.current-menu-ancestor  {
					> a {
							color:$blue;
					}
				}
				> li.menu-item-has-children {
						> a.active {
								color:$blue;
						}
						> a {
								&:after {
									content:"";
									display: inline-block;
									width: 0; 
									height: 0; 
									border-top: 5px solid transparent;
									border-bottom: 5px solid transparent;
									border-left: 5px solid $blue;
									vertical-align: top;
									margin:6px 0 0 15px;
								}
						}
				}
				> li {
					
					@include poppins_bold;
				}
			}
			ul.sub-menu {
				display: none;
				li {
					@include poppins_medium;
				}
				> li.current-menu-item {
					> a {
							color:$blue;
					}
				}
			}
		}
	}
	
	
	.nav_inner {
		background: $black;
		flex-grow:1;
		height:100%;
		display: flex;
		transform: translateX(-100%);
		transition: all 900ms cubic-bezier(.17,.66,.34,.98);
	}
	
	.laptop_col {
		flex-basis:50%;
		display: flex;
		padding:0px 35px 0;
		max-height:700px;
		align-items: center;
		
	}
	
	.laptop_col_one {
		justify-content: center;
		
	}
	
	.laptop_col_two {
		
	}
	
	
	.laptop_form {
		flex-basis:565px;
		display: block;
		height:100%;
		background: top left repeat;
		
		padding:57px 63px;
		transform: translateX(100%);
		transition: all 900ms cubic-bezier(.17,.66,.34,.98);
		overflow-y: scroll;
		padding-bottom:150px;
		-webkit-overflow-scrolling: touch;
		.laptop_form_inner {
			padding-bottom:245px;
			background: #fff;
			padding:38px;
			span.form_title {
				color:$blue;
				text-transform: lowercase;
				display: block;
				text-align: center;
				font-size: 40px;
				@include questa_regular;
			}
			span.required {
				display: block;
				text-align: center;
				text-transform: uppercase;
				font-size: 12px;
				margin-top:10px;
				letter-spacing: 0.4em;
				@include poppins_extrabold;
				span {
					color:$gold;
				}
			}
			.gform_wrapper {
				ul {
					list-style: none;
					margin-top:33px;
					li {
						margin-bottom:15px;
						position: relative;
						&:after {
							content:"*";
							color:$gold;
							position: absolute;
							top:32px;
							right:22px;
							@include poppins_extrabold;
						}
						label {
							display: none;
						}
						input,textarea {
							border:none;
							padding: 24px 35px 18px 22px;
							text-transform: uppercase;
							font-size:14px;
							letter-spacing: 0.2em;
							background: $grey;
							width:100%;
							border-bottom:5px solid transparent;
							transition: all 200ms ease-in-out;
							@include poppins_extrabold;
							&:focus {
								border-bottom:5px solid $gold;
							}
						}
						textarea {
							height:126px;
						}
					}
				}
				input[type="submit"] {
					background: $blue;
					cursor: pointer;
					margin: 18px auto 0;
					border:none;
					width:100%;
					display: block;
					max-width:261px;
					color:#fff;
					border:2px solid $blue;
					font-size: 28px;
					letter-spacing: 0.025em;
					text-transform: lowercase;
					padding:18px 45px;
					transition: all 200ms ease-in-out;
					@include questa_regular;
					&:hover {
						color:$blue;
						background: transparent;
					}
				}
				.gfield_description, .validation_message {
					color:$gold;
					text-transform: uppercase;
					font-size: 12px;
					margin-top:4px;
					padding-left:22px;
					letter-spacing: 0.1em;
					@include poppins_bold;
				}
			}
		}
	}
	
	
	.header_right {
		padding-right: 0px;
		padding-top: 0px;
		display: flex;
		flex-basis: 321px;
		.header_right_inner {
			padding-right:24px;
			padding-top:15px;
		}
		a.tel {
			font-size:30px;
			letter-spacing: 0.025em;
		}
	}
	
	
	.menu_wrapper {
		display: block;
		background: $blue;
		flex-basis:98px;
		flex-shrink:0;
		text-align: center;
		padding:22px 20px 0;
		cursor: pointer;
		position: relative;
		span {
			display: block;
		}
		span.menu_bar {
			width:100%;
			height:3px;
			max-width:56px;
			background: #fff;
			margin:0 auto 6px;
		}
		span.menu_title {
			color:#fff;
			text-transform: uppercase;
			font-size:14px;
			letter-spacing: 0.3em;
			text-indent:0.3em;
			@include poppins_extrabold;
		}
		.menu_close {
			width:100%;
			height:100%;
			background: $blue;
			position: absolute;
			top:0;
			left:0;
			z-index:1;
			opacity: 0;
			visibility: hidden;
			transition: all 200ms ease-in-out;
			cursor: pointer;
			&:before, &:after {
				content:"";
				display: block;
				width:55px;
				height:2px;
				background:#fff;
				position: absolute;
				top:40px;
				left:25px;
			}
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
		.menu_close.open {
			opacity: 1;
			visibility: visible;
		}
	}
	
	

	
	
	.header_middle.open {
		opacity: 1;
		visibility: visible;
		
	}
	
	

	
	
	
	.nav_inner.open {
		transform: translateX(0%);
		transition-delay: 100ms;
	}
	
	.laptop_form.open {
		transform: translateX(0%);
		transition-delay: 100ms;
	}
	
	
	.nav_inner.open.close {
		transform: translateX(-100%);
	}
	
	.laptop_form.open.close {
		transform: translateX(100%);
	}
	
	
} /* Media Query */



@media screen and (max-width: 1175px) {
	
	
	
	
	.header_middle {
		opacity: 1;
		visibility: visible;
		display: none;
	}
	
	nav.tablet {
		width:100%;
		height:100%;
		text-align: center;
		
		ul {
			li {
				list-style: none;
				text-transform: lowercase;
				a {
					color:#fff;
					transition: all 200ms ease-in-out;
					cursor: pointer;
					text-decoration: none;
				}
			}
		}
		ul.menu {
			> li {
				font-size: 25px;
				letter-spacing: 0.05em;
				line-height: 32px;
				margin-bottom:40px;
				 > a {
					 
					 @include poppins_bold;
				 }
			}
			> li.menu-item-has-children {
					> a {
						position: relative;
						&:after {
							content:"";
							position: absolute;
							top:15px;
							right:-35px;
							width: 0; 
							height: 0; 
							width: 0; 
							height: 0; 
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-top: 6px solid $blue;
						}
					}
			}
			> li.menu-item-has-children {
				> a.active {
					color:$blue;
				}
			}
			> li.current-menu-item, > li.current-menu-ancestor {
				 > a {
					 color:$blue;
				 }
			}
		}
		ul.sub-menu {
			padding-top:25px;
			display: none;
			li {
				font-size: 20px;
				line-height: 25px;
				letter-spacing: 0.05;
				padding-bottom:27px;
				@include poppins_medium;
				&:last-of-type {
					padding-bottom:0;
				}
				a {
					
				}
			}
			li.current-menu-item {
				a {
					color:$blue;
				}
			}
		}
	}
	
	
	.nav_inner {
		transform: translateX(0);
		display: block;
		padding-top:57px;
		overflow-y: scroll;
		padding-bottom:100px;
	}
	
	.laptop_col_one {
		display: block;
	}
	
	.laptop_form {
		display: none;
	}
	
	.laptop_col_two {
		display: none;
		
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	
	.header_left {
		padding-left: 16px;
		a.logo {
			img {
				width:285px;
				height: 52px;
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	header {
		flex-wrap:wrap;
		position: relative;
		height:auto;
		box-shadow:none;
	}
	
	

	
	
	header.visible {
		.header_middle {
			position: fixed;
			top:89px;
		}
		.header_right {
			position: fixed;
			width:100%;
			top:0;
			left:0;
			
		}
	}
	
	
	.header_middle {
		display: none;
		top: 197px;
		position: absolute;
	}
	
	
	.header_left {
		flex-basis:100%;
		background:$grey;
		padding:0 20px;
		height:108px;
		a.logo {
			margin:0 auto;
			img {
				width:263px;
				
			}
		}
	}
	
	.header_right {
		padding:0px 0 0 35px;
		height:89px;
		flex-basis: auto;
		flex-grow:1;
		background: #fff;
		text-align: left;
		.header_right_inner {
			flex-grow: 1;
			padding-top:19px;
		}
	}
	
	
	
	nav.tablet {
		text-align: left;
		ul.menu {
			> li.menu-item-has-children {
				> a {
					 &:after {
						 position: relative;
						 top: 22px;
					 }
				}
			}
		}
	}
	
	.nav_inner {
		height: 100vh;
	}
		
	
	.laptop_col_one {
		padding:0 65px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 360px) {
	
	
	.header_right {
		padding-left:20px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 335px) {
	
	
	.menu_wrapper {
		flex-basis:90px;
		padding: 22px 0px 0;
	}
	
	
	
} /* Media Query */