.pa_directory_wrapper {
	max-width:1250px;
	margin:110px auto 0;
	ul {
		list-style: none;
		li {
			a {
				text-decoration: none;
			}
		}
	}
	ul.menu {
		> li {
				&:last-of-type {
					ul.sub-menu {
						&:last-of-type {
							padding-bottom:0;
						}
					}
				}
			> a {
					color:$blue;
					display: block;
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 0.3em;
					border-bottom:3px solid $gold;
					padding-bottom:16px;
					@include poppins_extrabold;
			}
		}
	}
	ul.sub-menu {
		padding-top:50px;
		padding-bottom:134px;
		column-count:3;
		column-gap:45px;
		li {
			font-size: 16px;
			letter-spacing: 0.05em;
			line-height: 25px;
			padding-bottom:25px;
			vertical-align: top;
			width:100%;
			display: inline-block;
			@include poppins_bold;
			a {
				color:$black;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$blue;
				}
			}
		}
	}
}


@media screen and (max-width: 1066px) {
	
	
	.pa_directory_wrapper {
		margin-top:45px;
	}
	
    
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1000px) {
	
	
	
	.pa_directory_wrapper {
		ul.sub-menu {
			column-count:2;
			padding-bottom: 94px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.pa_directory_wrapper {
		margin: 35px auto 0;
		ul.sub-menu {
			column-count:1;
			padding-bottom: 44px;
		}
	}
	
	
	
} /* Media Query */