body.page-template-template-caseresults {
	.outer_container {
		padding-left:0;
		padding-right:0;
	}
}



.case_results_top {
	padding:110px 0 0 11%;
	display: flex;
	h1 {
		border-bottom:5px solid $gold;
		display: block;
		width:100%;
		margin-bottom:25px;
	}
	h2 {
		
	}
}

.case_results_left {
	flex-grow:1;
	padding-right:9%;
}

.case_results_right {
	flex-basis:855px;
	flex-shrink:0;
	margin:22px 0 0;
}

img.case_result_img {
	max-width:100%;
	height:auto;
	display: block;
}



.case_results_bottom {
	padding: 18px 11% 0;
}


.cr_filter_wrapper {
	max-width:490px;
	position: relative;
	cursor: pointer;
	z-index:1;
	.cr_input {
		background: #fff;
		border:2px solid $gold;
		padding:22px 45px;
		position: relative;
		overflow: hidden;
		span {
			text-transform: uppercase;
			font-size: 16px;
			color:$black;
			letter-spacing: 0.2em;
			white-space: nowrap;
			@include poppins_extrabold;
		}
		.cr_input_square {
			width:88px;
			position: absolute;
			top:0;
			right:0;
			height:100%;
			background: $gold;
			display: flex;
			justify-content: center;
			align-items: center;
			&:after {
				content:"";
				display: block;
				width: 0; 
				height: 0; 
				border-left: 11px solid transparent;
				border-right: 11px solid transparent;
				border-top: 11px solid #fff;
			}
		}
	}
	.cr_dropdown {
		background: $grey;
		display: none;
		position: absolute;
		top:83px;
		width:100%;
		left:0;
		ul {
			padding:42px 45px 0;
			li {
				padding:0;
				margin:0 0 27px 0;
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 0.2em;
				color:$black;
				line-height: 22px;
				transition: all 200ms ease-in-out;
				@include poppins_extrabold;
				&:before {
					display: none;
				}
				&:last-of-type {
					margin-bottom:0;
				}
				&:hover {
					color:$gold;
				}
			}
		}
	}
}


.cr_post_wrapper {
	margin: 57px 0 0;
	min-height: 700px;
}


.cr_single_post {
	border-bottom:4px solid #e1e1e1;
	padding-bottom:97px;
	margin-bottom:100px;
/*
	&:last-of-type {
		border:none;
		padding:0;
		margin:0;
	}
*/
	h2 {
		color:$blue;
		font-size:60px;
		line-height: 60px;
		padding-bottom: 13px;
		@include unna;
	}
	p {
		margin-bottom: 26px;
	}
}

.cr_single_meta {
	padding-bottom: 28px;
	line-height: 23px;
	span {
		display: inline;
		text-transform: uppercase;
		color:$black;
		font-size:18px;
		
		letter-spacing: 0.2em;
		@include poppins_extrabold;
		&:first-of-type {
			&:after {
				content:"|";
				display: inline-block;
				color:$gold;
				vertical-align: top;
				margin:0 17px 0 25px;
			}
		}
	}
}


@media screen and (max-width: 1780px) {
	
	
	
	.case_results_right {
    flex-basis: 795px;
  }
	
	
	
	
} /* Media Query */




@media screen and (max-width: 1700px) {
	
	
	.case_results_top {
		padding-left:98px;
	}
	
	
	.case_results_left {
		flex-basis:715px;
		flex-shrink: 0;
		padding-right: 7%;
	}
	
	
	.case_results_right {
		flex-basis:auto;
		flex-grow:1;
		flex-shrink: 1;
		margin: 96px 0 0;
	}
	
	.case_results_bottom {
		padding-left:98px;
		padding-right:98px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1390px) {
	
	
	.cr_filter_wrapper {
// 		margin-top:70px;
	}
	
	.case_results_top {
		display: block;
		padding-top:61px;
		h1 {
			padding-bottom: 28px;
		}
	}
	
	
	.case_results_left {
		padding-right: 98px;
	}
	
	    
	
	.case_results_right {
		display: none;
	}
	
	.cr_single_post {
		padding-bottom: 55px;
    margin-bottom: 70px;
	}
	
	   
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	.case_results_bottom {
		padding-top: 20px;
	}
	
	
	body.page-template-template-testimonials {
		.banner_content {
			h1.banner_header {
				text-align: center;
			}
		}
	}
	

	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.case_results_top {
		padding:46px 40px 0;
	}
	
	.case_results_left {
		padding:0;
	}
	
	
	.case_results_bottom {
		padding-left:40px;
		padding-right:40px;
	}
	
	
	.cr_single_post {
		padding-bottom: 19px;
		margin-bottom: 38px;
		h2 {
			font-size:50px;
			line-height: 50px;
		}
	}
	
	
	.cr_filter_wrapper {
		.cr_input {
			padding: 16px 14px;
			span {
				font-size:13px;
			}
			.cr_input_square {
				width: 55px;
				&:after {
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-top: 7px solid #fff;
				}
			}
		}
		.cr_dropdown {
			top: 72px;
			ul {
				padding:24px 24px 0;
				li {
					margin: 0 0 12px 0;
					font-size:14px;
				}
			}
		}
	}
	    
	    
	
	
} /* Media Query */