.inner_banner {
	position: relative;
	height:455px;
	width:100%;
	overflow: hidden;
	img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
		object-position:90% 0;
		transform: scale(1.2);
		transition: all 1500ms cubic-bezier(.17,.66,.34,.98);
	}
}


body.ready {
	.inner_banner {
		img {
			transform: scale(1);
			transition-delay:100ms;
		}
	}
}


.banner_content {
	position: relative;
	z-index: 1;
	text-align: center;
	padding:152px 45px 0;
	span, h1.banner_header {
		color:#fff;
		display: block;
		font-size:100px;
		margin-bottom:25px;
		@include questa_medium;
	}
	a.banner_button {
		background: $blue;
		color:#fff;
		display: inline-block;
		text-decoration: none;
		font-size: 30px;
		letter-spacing: 0.025em;
		padding:27px 40px;
		transition: all 200ms ease-in-out;
		@include questa_medium_italic;
		&:hover {
			background: $gold;
		}
	}
}

.outer_container {
	padding:0 111px 125px;
	position: relative;
}

.two_col {
	width:100%;
	max-width:1510px;
	margin:0 auto;
	display: flex;
}


.d_m_slide.dm_internal {
	left: 4%;
}

.dm_internal.visible {
	opacity: 1;
}

.dm_internal.visible.hide {
	opacity: 0;
}


.sidebar_wrapper {
	flex-basis:325px;
	flex-shrink:0;
	padding-top:137px;
}


.sidebar_box.blog {
	ul {
		li.active {
			a {
				color:$blue;
			}
		}
	}
}

.sidebar_box {
	margin-bottom:54px;
	span.sidebar_title {
		color:$blue;
		display: block;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.3em;
		padding-bottom:19px;
		border-bottom:3px solid $gold;
		//margin-bottom:5px;
		@include poppins_extrabold;
	}
	ul {
		list-style: none;
		padding-top:23px;
		li.active {
			
		}
		li {
			font-size: 16px;
			letter-spacing: 0.05em;
			line-height: 25px;
			padding-bottom:23px;
			@include poppins_bold;
			a {
				color:$black;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				cursor: pointer;
				&:hover {
					color:$blue;
				}
			}
			
		}
	}
	ul.menu {
		> li.current-menu-ancestor {
			 > a {
				 color:$blue;
			 }
			 ul.sub-menu {
				 display: block;
			 }
		}
		> li {
			> a.active {
				color:$blue;
			}
		}
		> li.menu-item-has-children {
			 > a {
				 position: relative;
				 display: block;
				 &:after {
					 content:"";
					 position:absolute;
					 top:9px;
					 right:10px;
					 display: block;
					 width: 0; 
					 height: 0; 
				 	 border-left: 6px solid transparent;
				 	 border-right: 6px solid transparent;
				 	 border-top: 6px solid $blue;
				 }
			}
		}
	}
	ul.sub-menu {
		display: none;
		li.current-menu-item {
			a {
				color: $blue;
			}
		}
		li {
			&:last-of-type {
				padding-bottom: 0;
			}
			@include poppins_medium;
		}
	}
}


.content_wrapper {
	flex-grow:1;
	padding:112px 0 0 12%;
}


@media screen and (max-width: 1775px) {
	
	
	.d_m_slide.dm_internal {
		left:45px;
	}
	
	
	.content_wrapper {
		padding-left:7%;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1510px) {
	
	
	
	#internal_main {
		margin-top:90px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1250px) {
	
	
	.two_col {
		flex-direction: column;
	}
	
	.outer_container {
		padding-bottom:100px;
	}

	
	
	.sidebar_wrapper {
		order:2;
		padding-top: 47px;
		//flex-basis: auto;
	}
	
	.sidebar_box {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	
	.content_wrapper {
		padding-left:0;
		
	}
	
		
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	body.page-template-default {
		.inner_banner {
			display: none;
		}
	}
	
	
	.inner_banner {
		height:auto;
		padding-left:98px;
		padding-right:98px;
		img {
			display: none;
		}
	}
	
	
	.banner_content {
		padding:62px 0 0;
		h1.banner_header {
			color:$blue;
			font-size: 65px;
			line-height: 65px;
			text-align: left;
			@include questa_regular;
		}
		h1.center {
			text-align: center;
		}
		a.banner_button {
			display: none;
		}
	}
	
	.outer_container {
		padding-left:98px;
		padding-right:98px;
	}
	
	
	.content_wrapper {
		padding-top: 62px;
	}
	
	
	
	.d_m_slide.dm_internal {
		left:37px;
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	#internal_main {
    margin-top: 0;
	}
	
	#internal_main.visible {
		margin-top:89px;
	}
	
	.inner_banner {
		padding-left:40px;
		padding-right:40px;
	}
	
	
	.banner_content {
		padding:50px 0 0;
		h1.banner_header {
			font-size: 60px;
			line-height: 60px;
		}
	}
	
	.outer_container {
		padding: 0 40px 50px;
	}
	
	
	.sidebar_wrapper {
		padding-top: 18px;
	}
	
	.sidebar_box {
		margin-bottom: 42px;
	}
	
	.content_wrapper {
		padding-top: 50px;
	}
	
	
} /* Media Query */
