.sidebar_box {
	h3 {
		display: none;
	}
}


.blog_feed {
	
}


.blog_post {
	border-bottom:4px solid #e1e1e1;
	padding-bottom:63px;
	margin-bottom:65px;
	&:last-of-type {
		border:none;
		padding-bottom:0;
		margin-bottom:0;
	}
	h2.h2_blog {
		@include unna;
		a {
			color:$blue;
			font-size: 40px;
			line-height: 45px;
			text-decoration: none;
			transition: all 200ms ease-in-out;
			&:hover {
				color:$gold;
			}
		}
	}
}


.blog_meta {
	font-size:15px;
	line-height: 21px;
	text-transform: uppercase;
	color:$bluedark;
	letter-spacing: 0.2em;
	padding-top:18px;
	@include poppins_extrabold;
	span, ul, li {
		display: inline-block;
	}
	span {
		border-right:3px solid $gold;
		padding-right:15px;
		margin-right:15px;
	}
	ul {
		margin-bottom:0;
		li {
			padding:0;
			&:before {
				display: none;
			}
			&:after {
				content:",";
				color:$gold;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
			}
			a {
				color:$gold;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}


.blog_content {
	padding-top:6px;
}


a.blog_readmore {
	text-transform: uppercase;
	font-size: 14px;
	margin:50px 0 0;
	text-decoration: none;
	display: inline-block;
	border:1px solid $blue;
	padding:10px 35px;
	letter-spacing: 0.25em;
	@include poppins_extrabold;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $blue;
		color:#fff;
	}
}


.navigation {
	margin-top:76px;
	ul {
		display: flex;
		margin-bottom:0;
		justify-content: center;
		li {
			padding-left:0;
			margin:0 6px;
			@include poppins_bold;
			&:before {
				display: none;
			}
			a {
				color:$bluedark;
				font-size:20px;
				letter-spacing: 0.05em;
				text-decoration: none;
			}
		}
		li.myprev {
			a {
				display: block;
				margin-top:10px;
				width: 0; 
				margin-right:10px;
				height: 0; 
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-right: 7px solid $gold;
			}
		}
		li.mynext {
			a {
				display: block;
				margin-top:10px;
				width: 0; 
				margin-left:10px;
				height: 0; 
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left: 7px solid $gold;
			}
		}
	}
}




		h1.single_blog_header {
			font-size: 65px;
			line-height: 70px;
		}
	


body.single {
	.blog_meta {
		padding-top:0;
	}
	.content {
		h1 {
			padding-bottom: 37px;
		}
	}
	.sidebar_wrapper {
		flex-basis:485px;
	}
	.sidebar_box {
		max-width:320px;
		margin-left:auto;
		margin-right:auto;
	}
	.content_wrapper {
		padding: 128px 0 0 6%;
	}
	.singlepost_form {
		width:100%;
		padding:75px 52px 50px;
		margin-bottom:99px;
		span.singlepost_form_title {
			color:$blue;
			display: block;
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 0.2em;
			@include poppins_extrabold;
		}
		span.required {
			display: block;
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
			margin-top:19px;
			letter-spacing: 0.4em;
			@include poppins_extrabold;
			span {
				color:$gold;
			}
		}
		.gform_wrapper {
				ul {
					list-style: none;
					margin-top:33px;
					li {
						margin-bottom:16px;
						position: relative;
						&:after {
							content:"*";
							color:$gold;
							position: absolute;
							top:32px;
							right:22px;
							@include poppins_extrabold;
						}
						label {
							display: none;
						}
						input,textarea {
							border:none;
							padding: 22px 35px 16px 22px;
							text-transform: uppercase;
							font-size:14px;
							letter-spacing: 0.2em;
							background: #fff;
							width:100%;
							border-bottom:5px solid transparent;
							transition: all 200ms ease-in-out;
							@include poppins_extrabold;
							&:focus {
								border-bottom:5px solid $gold;
							}
						}
						textarea {
							height:126px;
						}
					}
				}
				input[type="submit"] {
					background: $blue;
					cursor: pointer;
					margin: 18px auto 0;
					border:none;
					width:100%;
					display: block;
					max-width:261px;
					color:#fff;
					border:2px solid $blue;
					font-size: 28px;
					letter-spacing: 0.025em;
					text-transform: lowercase;
					padding:18px 45px;
					transition: all 200ms ease-in-out;
					@include questa_regular;
					&:hover {
						color:$blue;
						background: transparent;
					}
				}
				.gfield_description, .validation_message {
					color:$gold;
					text-transform: uppercase;
					font-size: 12px;
					margin-top:4px;
					padding-left:22px;
					letter-spacing: 0.1em;
					@include poppins_bold;
				}
			}
		

	}
}


@media screen and (max-width: 1390px) {
	
	
	body.single {
		.sidebar_wrapper {
			flex-basis: 445px;
		}
	}
	
	
} /* Media Query */

@media screen and (max-width: 1250px) {
	
	
	
.navigation {
	margin-top: 30px;
}	
	
.blog_post {
	&:last-of-type {
		border-bottom:4px solid #e1e1e1;
		padding-bottom:63px;
	}
}


body.single {
	.content_wrapper {
		padding: 107px 0 0 0%;
	}
	.sidebar_wrapper {
		flex-basis:100%;
	}
	.singlepost_form {
		display: none;
	}
	.sidebar_box {
		max-width:100%;
	}
	h1.single_blog_header {
		font-size: 40px;
    line-height: 45px;
	}
}
	
	
	  
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	body.single {
		.content_wrapper {
    	padding: 57px 0 0 0%;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
.blog_post {
	margin-bottom:45px;
	h2.h2_blog {
		a {
			font-size:35px;
			line-height: 40px;
		}
	}
}

.navigation {
	margin-bottom:35px;
}

body.single {
	.content_wrapper {
    padding: 57px 0 0 0%;
	}
}
	
	
	
} /* Media Query */
