.video_page_wrapper {
	max-width: 1250px;
	margin: 102px auto -130px;
}



.video_inner {
	
}



span.video_category_title {
	color:$blue;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.3em;
	display: block;
	border-bottom:3px solid $gold;
	padding-bottom:8px;
	margin-bottom:55px;
	@include poppins_extrabold;
}


.video_category {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom:90px;
	&:after {
		content:"";
		flex-basis:31%;
	}
}


.single_video {
	height:375px;
	flex-basis:31%;
	margin-bottom:40px;
	.myvideo {
		height:250px;
		position: relative;
	}
	.video_overlay {
		width:100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
		//background: pink;
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;
		z-index:1;
		.play_button_wrapper {
			width:102px;
			height:102px;
			top:0;
			left:0;
			position: relative;
			&:before {
				width:74px;
				height:74px;
				top: 12px;
				left: 12px;
				box-shadow: 0px 0px 12px 4px rgba(95,168,245,0.5);
			}
			&:after {
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 12px solid #fff;
				top: 39px;
				left: 44px;
			}
		}
	}
	.video_page_wistia {
		position: absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index:0;
	}
	span.single_video_name {
		font-size: 20px;
		color:$black;
		line-height: 32px;
		display: block;
		margin:24px 0 0;
		letter-spacing: 0.01em;
		position: relative;
		padding-left:13px;
		@include poppins_bold;
		&:before {
			content:"";
			display: block;
			position: absolute;
			top:7px;
			left:0;
			width:3px;
			height:18px;
			background: $gold;
		}
	}
}


@media screen and (max-width: 1510px) {
	
	
	.video_page_wrapper {
		 margin: 204px auto -130px;
	}
	
	   
	
	
	
} /* Media Query */


@media screen and (max-width: 1215px) {
	
	
.video_category {
	  padding-bottom: 38px;
		&:after {
		content:"";
		flex-basis:48%;
	}
}

	
	
	.single_video {
		flex-basis:48%;
		height: 390px;
		.myvideo {
			height: 266px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.video_page_wrapper {
    margin: 150px auto -90px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 920px) {
	
	
	.video_page_wrapper {
		max-width: 530px;
	}
	
	.video_category {
		display: block;
	}

	
	
	.single_video {
		flex-basis:100%;
		height: auto;
		.myvideo {
			height:320px;
		}
	}
	
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	.video_page_wrapper {
   	margin: 0px auto -60px;
   	padding-top:48px;
	}
	
		
} /* Media Query */


@media screen and (max-width: 500px) {
	
	
	
	.single_video {
		.myvideo {
			height:270px;
		}
	}
	
	
	
} /* Media Query */